@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Manrope:wght@600;800&display=swap');
@import "./colorPalette.css";

body[data-theme='light'] {
    --background-color: var(--very-light-grayish-blue);
    --bg-image-desktop: url("./images/bg-desktop-light.jpg");
    --bg-image-mobile: url("./images/bg-mobile-light.jpg");
    --background-todo: var(--very-light-gray);
    --switcher-theme: url("./images/icon-moon.svg");
    --color-text: var(--very-dark-desaturated-blue);
    --border-color: var(--light-grayish-blue-light-theme);
    --footerInfo: var(--dark-grayish-blue-light-theme);
    --hover-color: var(--very-dark-grayish-blue-light-theme);
}

body[data-theme='dark'] {
    --background-color: var(--very-dark-blue);
    --bg-image-desktop: url("./images/bg-desktop-dark.jpg");
    --bg-image-mobile: url("./images/bg-mobile-dark.jpg");
    --background-todo: var(--very-dark-desaturated-blue);
    --switcher-theme: url("./images/icon-sun.svg");
    --color-text: white;
    --border-color: var(--very-dark-grayish-blue-dark-theme1);
    --footerInfo: var(--very-dark-grayish-blue-dark-theme1);
    --hover-color: white;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    display: flex;
    background-image: var(--bg-image-mobile);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    margin: auto;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .header .switch-mode {
    width: 30px;
    height: 30px;
    background-image: var(--switcher-theme);
    background-repeat: no-repeat;
}

.container .header .to-do-text {
    color: white;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 10px;
    padding: 15px 0px;
}

.container .new-to-do {
    background-color: var(--background-todo);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 25px;
    border-radius: 5px;
}

.container .new-to-do input {
    all: unset;
    cursor: pointer;
}

.container .new-to-do input::placeholder {
    color: var(--dark-grayish-blue-dark-theme);
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.container .checkbox {
    height: 30px;
    width: 30px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.container .to-do-list {
    height: 500px;
    background-color: var(--background-todo);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: var(--color-text)
}

.container .to-do-list .to-do-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 25px;
    border-bottom: 1px solid var(--border-color);
}

.container .to-do-list .to-do-section .todo {
    width: calc(100% - 57px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .to-do-list .to-do-section .todo span {
    height: 30px;
    width: 30px ;
    background-image: url("./images/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    visibility: visible;
}

.container .to-do-list .checkbox:hover {
    cursor: pointer;
}

.container .to-do-list .completed .checkbox {
    background-image: url("./images/icon-check.svg"), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}

.container .to-do-list .completed .todo {
    color: var(--dark-grayish-blue-dark-theme);
    text-decoration: line-through;
}

.container .list-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    color: var(--footerInfo);
    flex: 1;
    align-items: flex-end;
    padding: 20px;
    height: 20px;
}

.container .list-info .categories-desktop {
    display: none;
}

.container .categories-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-todo);
    font-size: 15px;
    color: var(--footerInfo);
    border-radius: 5px;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.container .list-info .clear:hover {
    cursor: pointer;
    color: var(--hover-color);
    font-weight: 700;
}

.container .footer-info {
    align-self: center;
    font-size: 15px;
    color: var(--footerInfo);
    margin-top: 20px;
}

@media screen and (min-width: 600px) {
    body {
        background-image: var(--bg-image-desktop);
    }

    .container {
        width: 600px;
        height: 80%;
        margin: auto;
    }

    .container .to-do-list .to-do-section .todo span {
        visibility: hidden;
    }

    .container .to-do-list .to-do-section:hover .delete-icon {
        visibility: visible;
    }

    .container .to-do-list .list-info .categories-desktop {
        display: flex;
    }

    .container .categories-mobile {
        display: none;
    }

    .container .list-info .categories-desktop {
        flex-direction: row;
        justify-content: space-between;
        gap: 7px;
    }

    .container .list-info .categories-desktop div:hover {
        cursor: pointer;
        color: var(--hover-color) !important;
        font-weight: 700;
    }
}